body{
    background-image: url(./img/BG.png);
    background-repeat: repeat;
    background-color: black;
}
.wall{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100vh;
    background-image: url(./img/wall.png);
    background-position: top;
    background-repeat: repeat;
    background-size: contain;
}
.field{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100px repeat(23, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.scoreboard{
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 45px;
    background-image: url(./img/tableBIG.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}
.scoreboard p{
    width: 110px;
    text-align: center;
    padding: 0;
    margin: 0;
}
.hitpoints{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    height: 50px;
    background-image: url(./img/tableBIGtwo.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}
.hitpoints > div{
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-template-rows: 1fr;
    height: 35px;
    width: 325px;
}
.hp{
    background-image: url(./img/heart.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 2px;
}
.cannon{
    background-image: url(./img/cannonOff.png);
    grid-column-start: 2;
    width: 110px;
    background-repeat: no-repeat;
    background-position: center;
    overflow: visible;
}
.cannon:target{
    background-image: url(./img/cannonOn.png);
}
.border{
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    border-right: #0000AA 3px solid;
}